<div class="layout">

    <!-- SIDEBAR -->

    <aside class="sidebar">

        <nav>

            <img src="logo.png" class="logo">

            <a routerLink="/dashboard">
                Dashboard
            </a>

            <a routerLink="/inventario" class="active">
                Inventario
            </a>

            <a routerLink="/ventas">
                Ventas
            </a>

            <a routerLink="/productos">
                Productos
            </a>

            <a routerLink="/maquinas">
                Máquinas
            </a>

            <a routerLink="/proveedores">
                Proveedores
            </a>

            <a routerLink="/usuarios">
                Usuarios
            </a>

        </nav>

    </aside>


    <!-- MAIN -->

    <main class="main-content">

        <!-- TOPBAR -->

        <div class="topbar">

            <div>
                <h1>INVENTARIO</h1>
            </div>

        </div>


        <!-- CARDS -->

        <div class="cards">

            <div class="card blue">

                <h3>REFERENCIAS</h3>

                <h1>4</h1>

                <span>TOTALES</span>

            </div>

            <div class="card red">

                <h3>PRODUCTOS CRÍTICOS</h3>

                <h1>0</h1>

                <span>REFERENCIAS POR DEBAJO DEL STOCK MÍNIMO</span>

            </div>

        </div>


        <!-- TABLA -->

        <div class="tables">

            <div class="table-box">

                <h2>PRODUCTOS EN INVENTARIO</h2>

                <table>

                    <thead>

                        <tr>

                            <th>CÓDIGO</th>
                            <th>NOMBRE</th>
                            <th>STOCK</th>
                            <th>CANTIDAD MÍNIMA</th>
                            <th>ESTADO</th>
                            <th>PRECIO UNITARIO</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>
                                <strong>PQ3</strong>
                            </td>

                            <td>Luz</td>

                            <td>
                                <strong>5552</strong>
                            </td>

                            <td>20</td>

                            <td>

                                <span class="status free">
                                    BIEN
                                </span>

                            </td>

                            <td>$20.300</td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>


        <!-- BOTONES -->

        <div class="acciones">

            <button class="btn crear" (click)="abrirCrear()">
                + Crear Producto
            </button>

            <button class="btn cantidad" (click)="abrirCantidad()">
                + Agregar Cantidad
            </button>

        </div>


        <!-- MODAL CREAR -->

        <div class="modal" *ngIf="mostrarCrear">

            <div class="modal-content">

                <div class="modal-header">

                    <h2>Nueva Referencia</h2>

                    <button class="cerrar" (click)="cerrarModales()">
                        X
                    </button>

                </div>

                <div class="modal-body">

                  <input type="text" placeholder="Código" required>

                    <input 
                        type="text"  placeholder="Nombre del producto" required>

                    <input 
                        type="number" 
                        placeholder="Cantidad inicial"
                        min="0">

                    <input 
                        type="number" 
                        placeholder="Stock mínimo"
                        min="0">

                    <input 
                        type="number" 
                        placeholder="Precio"
                        min="0">

                    <select>

                        <option>Categoría</option>
                        <option>Bombillos</option>
                        <option>Kits Xenon</option>
                        <option>Accesorios</option>

                    </select>

                    <button class="guardar">
                        Guardar Producto
                    </button>

                </div>

            </div>

        </div>


        <!-- MODAL AGREGAR CANTIDAD -->

        <div class="modal" *ngIf="mostrarCantidad">

            <div class="modal-content">

                <div class="modal-header">

                    <h2>Agregar Cantidad</h2>

                    <button class="cerrar" (click)="cerrarModales()">
                        X
                    </button>

                </div>

                <div class="modal-body">

                    <select>

                        <option>Seleccionar referencia</option>
                        <option>Bombillo Xenon D2S</option>
                        <option>Kit Xenon H7</option>

                    </select>

                    <input type="number"  placeholder="Cantidad (+ entrada / - salida)">

                    <button class="guardar">
                        Actualizar Stock
                    </button>

                </div>

            </div>

        </div>

    </main>

</div>