*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0f172a;
}

.layout{
    width: 100%;
    display: flex;
    min-height: 100vh;
    background: #0f172a;
}

/* SIDEBAR */

.sidebar{
    width: clamp (220px,16%,300px);
    background: #111827;
    padding: 2%;
    border-right: 1px solid #1e293b;
}

.logo-area{
    margin-bottom: 20%;
}

.logo-area h2{
    color: white;
    font-size: 2vw;
    margin-bottom: 3%;
}

.logo-area span{
    color: #94a3b8;
    font-size: 0.9vw;
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.sidebar nav a{
    text-decoration: none;
    color: #cbd5e1;
    padding: 6%;
    border-radius: 0.8vw;
    transition: 0.3s;
    font-size: 1vw;
}

.sidebar nav a:hover{
    background: #1e293b;
}

.sidebar nav .active{
    background: #2563eb;
    color: white;
}

/* MAIN */

.main-content{
   width: 84%;
   padding: 2%;
}

/* TOPBAR */

.topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.topbar h1{
    color: white;
    font-size: 2.5vw;
}

.fecha-box{
    background: #1e293b;
    padding: 1% 2%;
    border-radius: 0.8vw;
    color: white;
    font-size: 1vw;
}

/* CARDS */

.cards{
    width: 100%;
    display: flex;
    gap: 1.5%;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.card{
    flex: 1;
    min-width: 18%;
    background: linear-gradient(135deg,#1e293b,#334155);
    padding: 2%;
    border-radius: 1.2vw;
    color: white;
    position: relative;
    overflow: hidden;
}

.card::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0.5vh;
}

.blue::before{
    background: #3b82f6;
}

.green::before{
    background: #22c55e;
}

.cyan::before{
    background: #06b6d4;
}

.orange::before{
    background: #f59e0b;
}

.red::before{
    background: #ef4444;
}

.card h3{
    color: #cbd5e1;
    margin-bottom: 5%;
    font-size: 0.9vw;
}

.card h1{
    font-size: 3vw;
    margin-bottom: 5%;
}

/* TABLES */

.tables{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.table-box{
    flex: 1;
    min-width: 45%;
    background: #1e293b;
    border-radius: 1.2vw;
    padding: 2%;
}

.table-box h2{
    color: white;
    margin-bottom: 4%;
    font-size: 1.3vw;
}

/* TABLE */

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    color: #94a3b8;
    text-align: left;
    padding: 3%;
    font-size: 0.8vw;
}

td{
    padding: 3%;
    border-top: 0.1vh solid #334155;
    color: white;
    font-size: 0.9vw;
}

td p{
    color: #94a3b8;
    font-size: clamp(12px,0.9vw,18px);
    margin-top: 2%;
}

/* STATUS */

.status{
    padding: 4% 8%;
    border-radius: 2vw;
    font-size: clamp(12px,0.9vw,18px);
    font-weight: bold;
}

.occupied{
    background: rgba(239, 68, 68, 0.155);
    color: #f87171;
}

.free{
    background: rgba(34,197,94,0.2);
    color: #4ade80;
}

.critical{
    background: rgba(239,68,68,0.2);
    color: #f87171;
}

.warning{
    background: rgba(245,158,11,0.2);
    color: #fbbf24;
}
.logo{
    width: 12vw;
    max-width: 180px;
    height: auto;
   position: relative;
   left: -2vw;
}
@media (max-width: 1000px) {
    
    .sidebar{
        width: 25%;
    }

    .main-content{
        width: 75%;
    }

    .card{
        flex-direction: column;
    }

    .tables {
        display: flex;
        flex-wrap: wrap;
       gap: 2%;
    }

    .table-box{
        flex: 1;
        min-width: 400px;
        overflow-x: auto;
    }

}
@media (max-width: 700px) {
    .layout {
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
        min-height: auto;
    }

    .main-content{
        width: 100%;
    }

    .topbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 2vh;
    }
}
